@page "/counter"
@inject IJSRuntime JsRuntime;

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        var jsInterop = new JsInterop(JsRuntime);
        var ret = await jsInterop.Write(res);

        await base.OnInitializedAsync();
    }
    
    string res = @"
{ 
    ""version"": 0,
    ""origin"": { 
       ""username"": ""-"",
       ""sessionId"": 20518,
       ""sessionVersion"": 0,
       ""netType"": ""IN"",
       ""ipVer"": 4,
       ""address"": ""203.0.113.1""
    },
    ""name"": """",
    ""timing"": { ""start"": 0, ""stop"": 0
    },
    ""connection"": { ""version"": 4, ""ip"": ""203.0.113.1""
    },
    ""iceUfrag"": ""F7gI"",
    ""icePwd"": ""x9cml/YzichV2+XlhiMu8g"",
    ""fingerprint"": { ""type"": ""sha-1"",
       ""hash"": ""42: 89:c5:c6: 55: 9d:6e:c8:e8: 83: 55: 2a: 39:f9:b6:eb:e9:a3:a9:e7""
    },
    ""media"": [
        {
         ""type"": ""audio"",
         ""port"": 54400,
         ""protocol"": ""RTP/SAVPF"",
         ""payloads"": ""0 96"",
         ""ptime"": 20,
         ""direction"": ""sendrecv""
        },
        {
         ""type"": ""video"",
         ""port"": 55400,
         ""protocol"": ""RTP/SAVPF"",
         ""payloads"": ""97 98"",
         ""direction"": ""sendrecv""
        }
    ]
}
".Replace(" ","");


}
